{% extends '::base.html.twig' %}

{% block head %}
    <title>Samuel Berthelot Photographie - à propos</title>
    <meta name="description"
          content="Samuel Berthelot propose ses services de photographe de mariage au Luxembourg, dans la région Alsace-Lorraine en France et en Belgique."/>
{% endblock %}

{% block body %}
    <div class="main_wrapper">
        <!-- C O N T E N T -->
        <div class="content_wrapper">
            <div class="page_title_block">
                <div class="container">
                    <h1 class="title">Votre photographe</h1>
                </div>
            </div>
            <div class="container">
                <div class="content_block no-sidebar row">
                    <div class="fl-container span12">
                        <div class="row">
                            <div class="posts-block span12">
                                <div class="contentarea">

                                    <div class="row-fluid">
                                        <div class="span4 module_cont module_text_area">
                                            <img src="{{ asset('img/portfoliopost/paysages/post02.jpg') }}"/>
                                        </div>
                                        <div class="span8 module_cont module_text_area">
                                            <blockquote>
                                                <p>
                                                    "Une photographie, c’est un fragment de temps qui ne reviendra pas."

                                                <div class="author">Martine Franck</div>
                                                </p>
                                            </blockquote>
                                            <p>Photographe passionné depuis quelques années, c’est d’abord par la
                                                photographie de paysage que j’ai développé ma maîtrise et ma
                                                connaissance du métier.</p>

                                            <p>Au-delà de l’aspect purement technique, le paysage demande avant tout
                                                beaucoup de patience. Il ne faut pas avoir peur de revenir plusieurs
                                                fois au même endroit et y rester pendant de longues heures afin
                                                d’obtenir la lumière la plus propice.</p>

                                            <p>…tout le contraire de la photographie de mariage me direz-vous ! C’est
                                                vrai, et c’est le challenge qui m’a d’abord attiré.</p>

                                            <p>Un mariage est un évènement unique dans votre vie, et contrairement au
                                                paysage, le photographe ne pourra pas revenir 2 fois pour immortaliser
                                                cette journée. Il devra capter toutes les émotions du moment, ne pas
                                                rater la petite larme de belle-maman, les fous rires déclenchés par le
                                                discours du témoin, ou encore les instants complices entre les
                                                mariés.</p>

                                            <p>Être photographe de mariage est une responsabilité et un défi qui
                                                demandent d’être organisé, social et inventif tout en restant
                                                discret.</p>

                                            <p>Avant même la signature d’un éventuel contrat, je rencontre toujours les
                                                futurs mariés dans le but de faire connaissance. <br>
                                                Je vais vous suivre pendant une journée entière et il est donc important
                                                que vous vous <u> sentiez à l’aise avec votre photographe </u>.
                                            </p>

                                            <p>En outre, je propose une session “Day After” qui permet de prendre plus
                                                de temps pour faire des photos de couple. Au-delà des photos classiques,
                                                cette session peut être très créative en fonction de vos goûts.</p>

                                            <p>Pour toutes ces raisons il est donc important de se rencontrer avant
                                                votre mariage.</p>

                                            <p>Si le travail présenté sur mon site vous plaît, n’hésitez pas à prendre
                                                contact avec moi. Je serais ravi de répondre à toutes vos questions.</p>

                                        </div>
                                    </div>
                                    <!-- .row-fluid -->

                                    <div class="row-fluid">
                                        <div class="span12 module_cont module_promo_text">
                                            <div class="shortcode_promoblock ">
                                                <div class="promo_text_block span12">
                                                    <h3>Samuel Berthelot</h3>
                                                    <h6>Photographe de mariage - Luxembourg - Alsace-Lorraine -
                                                        Belgique</h6>

                                                    <div class="widget_flickr">
                                                        <div class="flickr_widget_wrapper">
                                                            <script src="http://www.flickr.com/badge_code_v2.gne?count=12&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=8791813@N03"></script>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--.module_cont -->
                                        <div class="clear"><!-- ClearFIX --></div>
                                    </div>
                                    <!-- .row-fluid -->

                                    <div class="row-fluid">
                                        <div class="span8 module_cont module_text_area">
                                            <div class="bg_title"><h3 class="headInModule">mon matériel</h3></div>
                                            <p>Je travaille exclusivement avec du matériel professionnel de la marque
                                                Canon:</p>
                                            <ul class="list_type1">
                                                <li>Boitier 5D Mk II ( + boitier 450D en backup)</li>
                                                <li>Objectifs:
                                                    <ul>
                                                        <li>35mm f1.4 L</li>
                                                        <li>70-200mm f2.8 II L</li>
                                                        <li>24-105mm f4 L</li>
                                                        <li>17-40mm f4 L</li>
                                                    </ul>
                                                </li>
                                                <li>Flash 580EX II + déclencheurs à distance et parapluie blanc sur
                                                    trépied pour les sessions “Day After”
                                                </li>
                                                <li>Trépied Manfrotto pour les photos de groupe</li>
                                                <li>Sans oublier plusieurs batteries et cartes mémoires pour ne pas
                                                    tomber à court le jour J !
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="span4 module_cont module_text_area">
                                            <a target="_blank" href="http://www.canon.com/"> <img
                                                        alt="matériel de photo Canon"
                                                        src="{{ asset('img/canon.gif') }}"
                                                        alt="Canon"></a>
                                        </div>
                                    </div>
                                    <!-- .row-fluid -->

                                </div>
                                <!-- .contentarea -->
                            </div>
                            <div class="left-sidebar-block span3">
                                //Sidebar Text
                            </div>
                            <!-- .left-sidebar -->
                        </div>
                        <div class="clear"><!-- ClearFix --></div>
                    </div>
                    <!-- .fl-container -->
                    <div class="right-sidebar-block span3">
                        <aside class="sidebar">
                        </aside>
                    </div>
                    <!-- .right-sidebar -->
                    <div class="clear"><!-- ClearFix --></div>
                </div>
            </div>
            <!-- .container -->
        </div>
        <!-- .content_wrapper -->

    </div><!-- .main_wrapper -->
    <div class="header2top"></div>
{% endblock %}

 {% block javascripts %}
     <script>
         $(document).ready(function () {
             $(".flickr_widget_wrapper a").attr('target', '_blank');
         });
     </script>
 {% endblock %}