{% extends '::base.html.twig' %}

{% block head %}
    <title>photographe mariage au Luxembourg</title>
    <meta name="description"
          content="Photographe de mariage au Luxembourg - cérémonie civile et religieuse, vin d'honneur, soirée"/>
{% endblock %}

{% block body %}

    <div class="main_wrapper">
        <!-- C O N T E N T -->
        <div class="content_wrapper">
            <h1>Photographe de mariage au Luxembourg</h1>
            <a title="samuel berthelot - photographe de mariage"
               href="{{ path('PhotographPhotoBundle_home') }}">page d'accueil</a>

            <p style="color: #ffffff">
                Je propose mes services de photographe de mariage au Luxembourg, notamment pour les communes suivantes:
            </p>
            <ul style="color: #ffffff">
                <li>Hesperange</li>
                <li>Itzig</li>
                <li>Alzingen</li>
                <li>Differdange</li>
                <li>Esch-sur-Alzette</li>
                <li>Fentange</li>
                <li>Bettembourg</li>
                <li>Bettembourg</li>
            </ul>
            <p style="color: #ffffff">
                Les prestations couvrent les préparatifs, cérémonies civiles et religieuses, vin d'honneur, photos de
                coupes, soirée.
            </p>

            <p style="color: #ffffff">
                Possibilité de commander un livre de mariage, dvd, etc....
            </p>
        </div>
    </div>

    <div class="header2top"></div>
{% endblock %}

