{% extends '::base.html.twig' %}

{% block head %}
    <title>photographe mariage en Lorraine</title>
    <meta name="description"
          content="Photographe de mariage en Lorraine - cérémonie civile et religieuse, vin d'honneur, soirée"/>
{% endblock %}

{% block body %}

    <div class="main_wrapper">
        <!-- C O N T E N T -->
        <div class="content_wrapper">
            <h1>Photographe de mariage en Lorraine</h1>
            <a title="samuel berthelot - photographe de mariage"
               href="{{ path('PhotographPhotoBundle_home') }}">page d'accueil</a>

            <p style="color: #ffffff">
                Je propose mes services de photographe de mariage en Lorraine, notamment pour les communes suivantes:
            </p>
            <ul style="color: #ffffff">
                <li>Thionville</li>
                <li>Metz</li>
                <li>Nancy</li>
                <li>Florange</li>
                <li>Rodmack</li>
            </ul>
            <p style="color: #ffffff">
                Les prestations couvrent les préparatifs, cérémonies civiles et religieuses, vin d'honneur, photos de
                coupes, soirée.
            </p>

            <p style="color: #ffffff">
                Possibilité de commander un livre de mariage, dvd, etc....
            </p>
        </div>
    </div>

    <div class="header2top"></div>
{% endblock %}

