{% extends '::base.html.twig' %}

{% block head %}
    <title>Samuel Berthelot Photographie - Mariage de Maud et Fabrice</title>
    <meta name="description" content="La galerie photo du mariage de Maud et Fabrice"/>
{% endblock %}

{% block body %}

<div class="fullscreen_block">
    <div class="fullscreen_title">
        <h1>Maud et Fabrice</h1>
        <a href="javascript:history.back()" class="btn_close"></a>
        <!--<a href="#" class="btn_next"></a>
        <a href="#" class="btn_prev"></a>-->
    </div>

    <div class="fullscreen_content_wrapper">
        <div class="featured_slider_wrapper fullscreen_container">
            <a href="javascript:void(0)" class="featured_prev"></a><a href="javascript:void(0)" class="featured_next"></a>
            <ul class="featured_slider-list">
                <li><img src="{{asset('img/portfoliopost/maud_et_fabrice/post01.jpg')}}" alt="mariage maud et fabrice" /></li>
                <li><img src="{{asset('img/portfoliopost/maud_et_fabrice/post02.jpg')}}" alt="mariage maud et fabrice"  /></li>
                <li><img src="{{asset('img/portfoliopost/maud_et_fabrice/post03.jpg')}}" alt="mariage maud et fabrice"  /></li>
            </ul>
        </div>
    </div><!-- .fullscreen_content_wrapper -->

    <div class="fullscreen_content">
        <a href="javascript:void(0)" class="content_toggle"><span class="collapse">Cacher</span><span class="show">Plus d'info</span></a>        
        <div class="fullscreen_content_padding">
            <div class="row-fluid">
                <div class="span12 module_cont module_fs_meta module_none_padding">                
                    <p><span>Lieu:</span> Grenoble</p>
                    <p><span>Prestation:</span> Préparatifs, Cérémonie, Vin d'honneur, Soirée                     
                </div>								
            </div><!-- .row-fluid -->

            <div class="row-fluid">
                <div class="span12 module_cont module_text_area module_small_padding">
                    <p>Mariage dans un cadre magnifique et sous la neige.</p>
                    <a href="{{ path('PhotographPhotoBundle_gallery', {'name': 'maud-et-fabrice'}) }}">voir la galerie complète</a>
                </div>								
            </div><!-- .row-fluid -->

            <div class="row-fluid">
                <div class="span12 module_cont module_text_area module_small_padding">
                    <blockquote>
                        <p>Samuel a posé un regard naturel sur cette magnifique journée. Il a su immortaliser les instants d'humour, de complicité, d'amour et de magie pour nous laisser des souvenirs merveilleux et authentiques..</p>
                        <div class="author">Maud et Fabrice</div>
                    </blockquote>
                </div>
            </div><!-- .row-fluid -->

        </div><!-- .fullscreen_content_padding -->
    </div><!-- .fullscreen_content -->


    <div class="header2top"></div>
    {% endblock %}